/*
 * CSS Reset
 */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*
 * Etiquetas y Clases
 */
body {
    font: 16px 'Times New Roman', Times, serif;
}

.main-container {
    border: 1px solid #000000;
    margin: auto;
    max-width: 780px;
    padding: 1ch;
}

header {
    background-image: url(../img/Site-Background.jpg);
    background-position: center;
    background-size: cover;
    border: 1px solid #000000;
    margin-bottom: 1ch;
    padding: 4ch;
}

nav {
    text-align: center;
}

.nav-icon {
    -webkit-text-stroke: 1px #000000;
    color: #FFFFFF;
    display: none;
    font-size: 1.85rem;
    padding: 0.5rem;
    text-decoration: none;
}

.nav-icon:hover {
    color: #E12F29;
}

nav ul li {
    background-color: #000000BF;
    border: 1px solid;
    display: inline-block;
    margin: auto 0.5rem;
}

nav ul li a {
    color: #FFFFFF;
    display: block;
    line-height: 1.5rem;
    min-width: 6rem;
    padding: 0.5rem 0;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #E12F29;
}

section p img {
    float: right;
    margin: 1ch;
}

h1 {
    border-bottom: 1px solid #000000;
    padding-bottom: 0.15ch;
}

p {
    line-height: 150%;
    margin: 1ch auto;
}

table {
    border-collapse: collapse;
    border-color: #CCCCCC;
    border-spacing: 0;
    color: #333333;
    font: 14px Arial, Helvetica, sans-serif;
    margin: 1ch auto;
    width: 100%;
    word-break: break-word;
}

table th {
    background-color: #F0F0F0;
    border-style: solid;
    border-width: 1px;
    padding: 10px 5px;
}

table thead tr th {
    border-color: inherit;
}

/* Le hago :hover a toda la fila...aunque en episodes.html necesito de JS para que sea realmente así. :c! */
table tr:hover,
table tr:hover + tr td:only-child {
    background-color: #EBEBEB;
}


table td {
    border: 1px solid #CCCCCC;
    padding: 10px 5px;
}

/* Le aplico esto solamente a la primer columna que tenga más de un hijo (episodes.html básicamente) */
.table-season-1 td:is(:nth-child(1)):not(:only-child) {
    background-color: #EA868F;
}

.table-season-2 td:is(:nth-child(1)):not(:only-child) {
    background-color: #E35D6A;
}

.table-season-3 td:is(:nth-child(1)):not(:only-child) {
    background-color: #DC3545;
}

.table-season-4 td:is(:nth-child(1)):not(:only-child) {
    background-color: #B02A37;
}

.table-season-5 td:is(:nth-child(1)):not(:only-child) {
    background-color: #842029;
}

.table-season-6 td:is(:nth-child(1)):not(:only-child) {
    background-color: #58151C;
}

.table-specials td:is(:nth-child(1)):not(:only-child) {
    background-color: #FD7E14;
}

.table-movies td:is(:nth-child(1)):not(:only-child) {
    background-color: #FFC107;
}

.bg-ed {
    background-color: #9FB730;
}

.bg-edd {
    background-color: #F89520;
}

.bg-eddy {
    background-color: #F8ED1D;
}

.characters {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 1ch;
    text-align: center;
}

.characters figure {
    border: 1px solid #000000;
    display: inline-block;
    padding: 0.25rem;
}

.characters figcaption {
    background-color: #000000;
    color: #FFFFFF;
    padding: 0.25rem;
}

.characters figure:hover > a > figcaption {
    background-color: #E12F29;
}

.characters a {
    text-decoration: none;
}

.characters p {
    margin: 1ch;
    text-align: left;
}

.gallery {
    margin-top: 1ch;
    text-align: center;
}

.gallery a {
    text-decoration: none;
}

.gallery a img {
    -webkit-filter: brightness(0.9);
    filter: brightness(0.9);
}

.gallery a img:hover {
    -webkit-filter: brightness(1);
    filter: brightness(1);
}

.contact-form {
    -webkit-filter: brightness(0.75);
    background-color: #DCCFE1;
    background-image: url(../img/common/Intro.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border: 1px solid #000000;
    filter: brightness(0.75);
    height: 512px;
    margin: 1ch auto;
    padding: 1ch;
}

.contact-form form {
    -ms-transform: translateY(-50%);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background-color: #FFFFFF40;
    padding: 1ch;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.contact-form label {
    background: #000000;
    background: linear-gradient(90deg, #00000080 0%, #000000 50%, #00000080 100%);
    color: #ffffff;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 1ch auto;
    padding: 1ch;
    text-align: center;
    text-transform: uppercase;
}

.contact-form input,
.contact-form textarea {
    height: 2rem;
    resize: none;
    width: 100%;
}

.contact-form textarea {
    height: 8rem;
}

.contact-form button {
    display: block;
    margin: auto;
    padding: 0.5rem 2.5rem;
}

footer {
    align-items: center;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1ch;
    text-align: center;
}

.foo-icon {
    color: #E12F29;
    cursor: help;
    margin: auto 0.25rem;
}

.foo-icon:hover {
    color: #000000;
}

footer a {
    color: #000000;
    text-decoration: none;
}

footer i {
    font-size: 4ch;
    margin: 0 1ch;
}


/*
 * Barra de desplazamiento
 */
::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: #595959;
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #A3A3A3;
    border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #F1827E;
}


/*
 * Animaciones
 */
.anim-slide-top:hover {
    animation: anim-slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    color: #E12F29;
}

@keyframes anim-slide-top {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-0.5rem);
    }
}


/*
 * Media queries
 */
@media screen and (max-width: 768px) {
    .nav-icon {
        display: inline-block;
    }

    nav ul li {
        margin: auto 1rem;
    }

    nav ul li a {
        padding: 0.5rem 1rem;
    }

    nav ul li {
        display: none;
    }

    .navbar-responsive ul li {
        display: block;
        margin: 0.5rem;
        text-align: center;
    }

    .navbar-responsive ul li a {
        padding: 0.5rem;
    }

    section p img {
        display: block;
        float: none;
        margin: auto;
        max-width: 100%;
    }
}

@media screen and (max-width: 850px) {
    .characters {
        flex-direction: column;
    }

    .characters > div:nth-child(-n+2) {
        margin-bottom: 1ch;
    }

    .main-container {
        margin: auto 2ch;
        max-width: 100%;
    }
}
